{% extends 'base.html' %}
{% load static %}
{% block title %}Login{%endblock%}

{% block content%}
{% if messages %}
      {% for message in messages %}
          {% include 'components/popup.html'%}
      {% endfor %}
      {% endif %}
    <div class="yx-t yx-gp yx-hg">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="yx-p_ yx-lw">
          <a class="yx-fd yx-nbl yx-nyy" href="{% url 'index' %}">
            <svg class="block" viewBox="0 0 40 40">
              <circle fill="var(--color-contrast-higher)" cx="20" cy="20" r="20"></circle>
              <path d="M12.64,20.564a6.437,6.437,0,0,0-4.4,1.388S10,24.2,12.133,24.475a6.486,6.486,0,0,0,3.625-.846S14.455,20.8,12.64,20.564Z" fill="var(--color-bg)"></path>
              <path d="M22.036,13.407a7.041,7.041,0,0,0-1.111-3.88s-3,1.562-3.152,3.54a6.978,6.978,0,0,0,1.739,4.688S21.851,15.73,22.036,13.407Z" fill="var(--color-bg)"></path>
              <path d="M29.048,26.433a7.624,7.624,0,0,0-.321-4.122c-1.052-2.448-4.326-3.784-4.326-3.784a7.973,7.973,0,0,0-.164,5.713A3.294,3.294,0,0,0,25.451,25.6,16.016,16.016,0,0,1,14.758,10.527v-1h-2v1A17.988,17.988,0,0,0,21.19,25.746a5.859,5.859,0,0,0-2.433-.151,8.093,8.093,0,0,0-4,2.352s2.6,2.883,4.846,2.49a7.889,7.889,0,0,0,4.627-3.153,17.885,17.885,0,0,0,6.527,1.243h1v-2h-1A16.094,16.094,0,0,1,29.048,26.433Z" fill="var(--color-bg)"></path>
            </svg>
          </a>
        </div>
        <h1 class="sr-only">Log in</h1>
        <div class="yx-lb"><label class="form-label yx-ly" for="Email">Email</label> <input class="form-control yx-me" type="email" name="Email" id="Email" placeholder="email@myemail.com" required></div>
        <div class="yx-lb">
          <div class="flex justify-between yx-ly"><label class="form-label" for="password" >Password</label> <span class="text-sm"><a class="color-contrast-higher" href="{% url 'reset_password' %}">Forgot Password?</a></span></div>
          <input class="form-control yx-me" type="password" name="Password1" id="Password1" required>
        </div>
        <div class="yx-lb"><button class="btn btn--primary btn--md yx-me" type="submit">Login</button></div>
        <div class="yx-p_">
          <p class="text-sm color-contrast-medium">Don't have an account? <a class="color-contrast-higher" href="{% url 'signup' %}">Get started</a></p>
        </div>
      </form>
    </div>
    {% endblock %}
{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    var alert = document.getElementById('alert');
    hideAlertAfterDelay(alert);
    function hideAlertAfterDelay(alert) {
      setTimeout(function() {
          alert.classList.add('not-visible');
      }, 6000);
    }
  });
</script>
{% endblock %}