{% extends 'base.html' %}
{% load static %}
{% block title %}Login{%endblock%}

{% block content%}

<div class="yx-t yx-mj yx-ap yx-fe yx-ga yx-gx">
  <div class="text-component yx-ht yx-sv">
    <h1>Log in</h1>
    <p class="text-sm"></p>
  </div>
  <div class="yx-n gap-xs d-flex justify-content-center">
    <div class="yx-x">
      {% load socialaccount %}
      <a href="{% provider_login_url 'google' %}?next=/">
      <button class="btn btn--subtle yx-vf">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
          <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
        </svg>&nbsp;
        <span>Login with Google</span>
      </button></a>
    </div>
  </div>
  <p class="yx-ht text-sm yx-uc margin-y-md">or</p>
  <form class="login-form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    
    <div class="yx-sv">
      <label class="form-label yx-sp" for="Email">Email</label>
      <input class="form-control yx-vf" type="text" name="Email" id="Email" required>
    </div>
    <div class="yx-sv">
        <div class="padding-y-xxs js-cd-demo">
          <label class="form-label margin-bottom-2xs" for="Password1">Password</label>
          <div class="password js-password">
            <input class="yx-vf password__input form-control width-100% js-password__input" type="password" name="Password1" id="Password1" required>
            <button class="password__btn flex flex-center js-password__btn">
              <span class="password__btn-label" aria-label="Show password" title="Show password">
                <i class="bi bi-eye"></i>
              </span>
              <span class="password__btn-label" aria-label="Hide password" title="Hide password">
                <i class="bi bi-eye-slash"></i>
              </span>
            </button>
          </div>
        </div>
        <span class="lq2-text-sm"><a href="{% url 'reset_password' %}">Forgot Password?</a></span>
    </div>
    <div class="yx-sv d-flex justify-content-center">
      <button class="btn  bg-primary btn--md yx-vf btn--sm width-30%">Login</button>
    </div>
    <div class="yx-ht">
      <p class="text-sm">Don't have an account? <a href="{% url 'signup' %}">Get started</a>
      </p>
    </div>
  </form>
</div>
{% endblock %}
{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    var alert = document.getElementById('alert');
    hideAlertAfterDelay(alert);
    function hideAlertAfterDelay(alert) {
      setTimeout(function() {
          alert.classList.add('not-visible');
      }, 6000);
    }
  });
</script>
{% endblock %}