{% extends 'base.html' %}
{% load static %}
{% block title %}Reset Password{%endblock%}

{% block content%}

<div class="yx-t yx-mj yx-ap yx-fe yx-ga yx-gx">
  <form class="password-reset-form" method="post">
    {% csrf_token %}
    <div class="text-component yx-sm">
      <h2>Enter new password</h2>
      <p class="text-sm">Enter your password twice so we can verify you typed it correctly.</p>
    </div>
    <div class="yx-sv">
      {% for field in form %}
      <label class="form-label yx-sp" for="inputEmail1">{{field.label}}</label>
      {{field}}   
        {% for error in field.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
      {% endfor %}  
    </div>
    <div class="yx-sv d-flex justify-content-end">
        <button class="btn btn--primary btn--sm " type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock %}