{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="yx-tvj">
        {% include 'components/sidebar.html' %}
      <main class="yx-ya z-index-1 flex-grow yx-gh yx-t_d yx-t_g yx-tk_ yx-tqm yx-njv">
      {% include 'components/main-header.html' %}
      {% if messages %}
      {% for message in messages %}
          {% include 'components/popup.html'%}
      {% endfor %}
      {% endif %}
        <form class="yx-t yx-gm yx-padding-rr" method="post">
          {% csrf_token %}
          <header class="yx-lw">
            <h1 class="text-lg">Edit Password</h1>
          </header>
          <ul class="grid gap-sm">
            <li>
              <label class="form-label margin-bottom-xxs" for="{{ form.old_password.id_for_label }}">Old password</label>
              <div class="password js-password"> {{ form.old_password }} <button class="yx-n_k flex yx-ft js-password__btn js-tab-focus"><span class="yx-n__" aria-label="Show password" title="Show password"><i class="text-sm">Show</i></span> <span class="yx-n__" aria-label="Hide password" title="Hide password"><i class="text-sm">Hide</i></span></button>
                {{ form.old_password.errors }}</div>
            </li>
            <li class="yx-border-t margin-y-xs" role="presentation"></li>
            <li>
              <label class="form-label margin-bottom-xxs" for="{{ form.new_password1.id_for_label }}">New password</label>
              <div class="password js-password"> {{ form.new_password1 }} <button class="yx-n_k flex yx-ft js-password__btn js-tab-focus"><span class="yx-n__" aria-label="Show password" title="Show password"><i class="text-sm">Show</i></span> <span class="yx-n__" aria-label="Hide password" title="Hide password"><i class="text-sm">Hide</i></span></button>
                {{ form.new_password1.errors }}</div>
            </li>
            <li>
              <label class="form-label margin-bottom-xxs" for="{{ form.new_password1.id_for_label }}">Repeat new password</label>
              <div class="password js-password"> {{ form.new_password2 }}<button class="yx-n_k flex yx-ft js-password__btn js-tab-focus"><span class="yx-n__" aria-label="Show password" title="Show password"><i class="text-sm">Show</i></span> <span class="yx-n__" aria-label="Hide password" title="Hide password"><i class="text-sm">Hide</i></span></button>
                {{ form.new_password2.errors }}</div>
            </li>
            <li class="yx-pq"><button class="btn btn--primary yx-padding-nm">Save</button></li>
          </ul>
        </form>
      </main>
    </div>
    {% endblock %}