{% extends 'base.html' %}
{% block title %}Password Reset{% endblock %}
{% block content %}
  <body>
    <div class="yx-t yx-gp yx-hg">
      <form method="post" action="{% url 'password_reset' %}">
        {% csrf_token %}
        <div class="yx-p_ yx-lw">
          <h1>Forgot your password?</h1>
          <p>Enter the email you used to register to recieve instructions on how to reset your password</p>
        </div>
        <h1 class="sr-only">Password Reset</h1>
        <div class="yx-lb"><label class="form-label yx-ly" for="email">Email</label> <input class="form-control yx-me" type="email" name="email" id="email" placeholder="email@example.com"></div>
        <div class="yx-lb"><button class="btn btn--primary btn--md yx-me" type="submit">Request reset link</button></div>
        <div class="yx-p_">
          <p class="text-sm"><a class="color-contrast-higher" href="{% url 'login' %}">&larr; Back to login</a></p>
        </div>
      </form>
    </div>
  </body>
  {% endblock content %}