{% extends 'base.html' %}
{% block title %}Password Reset{% endblock %}
{% block content %}

<body>
<div class="yx-t max-width-adaptive-sm yx-ap yx-fe yx-ga yx-gx d-flex justify-content-center">
  <form class="password-reset-form" method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}
      <div class="text-component text-center margin-bottom-md">
        <h1>Forgot your password?</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </div>
    
      <div class="margin-bottom-sm">
        <label class="form-label margin-bottom-3xs" for="Email">Email</label>
        <input class="form-control width-100%" type="email" name="email" id="email" placeholder="email@myemail.com" required>
      </div>
    
      <div class="margin-bottom-sm">
        <button class="btn btn--primary btn--md width-100%" type="submit">Request reset link</button>
      </div>
    
      <div class="text-center">
        <p class="text-sm"><a href="{% url 'login' %}">&larr; Back to login</a></p>
      </div>
  </form>
</div>
</body>
  {% endblock content %}