{% extends 'base.html' %}
{% load static %}
{% block title %}Verify Email{%endblock%}
{% block content%}
{% if messages %}
      {% for message in messages %}
          {% include 'components/popup.html'%}
      {% endfor %}
      {% endif %}
<div class="yx-t yx-gp yx-hg">
  <form class="sign-up-form"  method="post">
    {% csrf_token %}
    <div class="text-component yx-ht yx-sv">
      <h1>Verify Email</h1>
      <p class="text-sm">Enter the OTP sent to your email to continue.</p>
    </div>
    <div class="yx-sv">
      <div class="yx-n gap-xs mb-4">
        
          <label class="form-label yx-sp" for="OTP">OTP</label>
          <input class="form-control yx-me" type="text" name="otp_code" id="otp_code" required>
        
      </div>
    </div>
    <div class="yx-sv d-flex justify-content-center mb-2">
      <button class="btn btn--primary btn--xs">Verify</button>
    </div>
    <div class="yx-ht d-flex justify-content-center">
      <p class="text-sm">Need a new OTP? <a href="{% url 'resend_otp' %}">Resend OTP</a>
      </p>
    </div>
  </form>
</div>
{% endblock %}
{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    var alert = document.getElementById('alert');
    hideAlertAfterDelay(alert);
    function hideAlertAfterDelay(alert) {
      setTimeout(function() {
          alert.classList.add('not-visible');
      }, 6000);
    }
  });
</script>
<script>
  window.onload = function() {
    // Extract OTP from URL
    var urlParams = new URLSearchParams(window.location.search);
    var otp = urlParams.get('otp');
    // Set OTP value in the form
    document.getElementById("otp_code").value = otp;
    // Submit the form
    document.getElementById("otp_code").submit();
  };
</script>

{% endblock %}