{% extends 'base.html' %}
{% load static %}
{% block title %}Search results for {{query}}  {% endblock %}
{% block style %}

{% endblock %}
{% block content %}
<header class="px-4 py-2 position-sticky  bg yx-ye d-flex justify-content-between ">
  <a class="yx-nba yx-nyy" href="{% url 'index' %}">
    <svg class="inline" viewBox="0 0 40 40">
      <circle fill="var(--color-contrast-higher)" cx="20" cy="20" r="20"></circle>
      <path d="M12.64,20.564a6.437,6.437,0,0,0-4.4,1.388S10,24.2,12.133,24.475a6.486,6.486,0,0,0,3.625-.846S14.455,20.8,12.64,20.564Z" fill="var(--color-bg)"></path>
      <path d="M22.036,13.407a7.041,7.041,0,0,0-1.111-3.88s-3,1.562-3.152,3.54a6.978,6.978,0,0,0,1.739,4.688S21.851,15.73,22.036,13.407Z" fill="var(--color-bg)"></path>
      <path d="M29.048,26.433a7.624,7.624,0,0,0-.321-4.122c-1.052-2.448-4.326-3.784-4.326-3.784a7.973,7.973,0,0,0-.164,5.713A3.294,3.294,0,0,0,25.451,25.6,16.016,16.016,0,0,1,14.758,10.527v-1h-2v1A17.988,17.988,0,0,0,21.19,25.746a5.859,5.859,0,0,0-2.433-.151,8.093,8.093,0,0,0-4,2.352s2.6,2.883,4.846,2.49a7.889,7.889,0,0,0,4.627-3.153,17.885,17.885,0,0,0,6.527,1.243h1v-2h-1A16.094,16.094,0,0,1,29.048,26.433Z" fill="var(--color-bg)"></path>
    </svg>
  </a>
  {% include 'components/main-header.html' %}
</header>
  <section class="padding-top-md padding-bottom-lg ">
    <div class="d-flex justify-content-center">
    <h1 class="text-bold m-5 text-decoration-none">Search results for: <span class="fst-italic">{{query}}</span> </h1></div>
      <ul class="mx-lg-5 mx-3 grid gap-lg">
        {% if results %}
        {% for object in results %}
        <li class="ms-lg-5 ms-1 yx-nyk yx-rtz yx-padding-s px-5">
          <div class="flex items-center mb-2"><span class="yx-fd yx-bg-d yx-bg-ti text-xs yx-padding-np yx-padding-nj yx-xb">{{object.category}}</span></div>
          <div class="d-flex yx-a_ gap-lg">
            <div class="pe-5">
              <a href="{{object.get_url}}">
              {% if object.has_image %}
              <figure class="d-flex justify-content-center ad5-max-width-lg mb-lg-3">
                <img class="ad5-radius-lg" src="{{object.get_image}}" alt="{{object.title}}" style="aspect-ratio: 1/1; height: 290px;">
              </figure>
              {%endif%}
            </a>
            </div>
            <div class="">
              <a href="{{object.get_url}}" class="text-decoration-none">
                <p class="text-xl yx-pg color-contrast-higher mb-3"> {{object.title}}</p>
              </a>
                <div class="chart chart--area" id="stats-card-chart-2">
                <div class="chart__area">
                  <div class="col-8 author author--meta d-flex justify-content-between">
                    {% if object.author.member.has_image %}
                      <div class="flex yx-a_ items-center gap-xs">
                          <figure class="yx-nbc yx-xy yx-wd yx-fi"><img class="block yx-me yx-ge object-cover" src="{{object.author.member.image.url}}" alt="Author Image"></figure>
                        </div>
                    {% else %}
                    <div class="flex yx-a_ items-center gap-xs">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                      </svg>
                    </div>
                    {%endif%}
            
                    <div class="author__content ad5-text-component ad5-text-gap-2xs col-lg-12">
                      <h4 class="ad5-text-base"><a href="{{object.author.get_absolute_url}}" rel="author">{{object.author}}</a></h4>
                      <p class="ad5-text-sm ad5-color-contrast-medium"><time> Updated at - {{object.updated_at}}</time><br> &mdash; 5 min read</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
        {% else %}
        <li class="border-top">
            <div class="flex justify-center items-start margin-bottom-sm">
                    <h3>No results!</h3>
            </div>
          </li>
        {% endif %}
      </ul>
    </div>
  </section>
  <div class="d-flex justify-content-center m-3">{% include 'components/pagination.html' %}</div>

  {% endblock content %}