{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="yx-tvj">
        {% include 'components/sidebar.html' %}
      <main class="yx-ya z-index-1 flex-grow yx-gh yx-t_d yx-t_g yx-tk_ yx-tqm yx-njv">
      {% include 'components/main-header.html' %}
      {% if messages %}
      {% for message in messages %}
          {% include 'components/popup.html'%}
      {% endfor %}
      {% endif %}
        <div class="yx-t yx-gy yx-padding-rr">
          <header class="yx-lb">
            <div class="flex flex-column gap-xxs yx-tos yx-tom yx-tow">
              <h1 class="text-lg">Articles</h1>
              <p><a href="new-article.html">+ New article</a></p>
            </div>
          </header>
          <div class="yx-nyk yx-padding-nm yx-padding-ti yx-padding-g">
            <nav class="yx-nqr">
              <ul class="yx-nqi">
                <li><a class="yx-nqs yx-nqo" href="#0">All (21)</a></li>
                <li><a class="yx-nqs" href="#0">Published (19)</a></li>
                <li><a class="yx-nqs" href="#0">Draft (2)</a></li>
              </ul>
            </nav>
            <div class="yx-padding-re yx-border-n" data-table-controls="table-id">
              <ul class="d-flex justify-content-between gap-xxs yx-tos yx-tog">
                 <li>
                  <div class="d-flex yx-a_ justify-content-start gap-xxxs">
                    <div class="select" style="--select-icon-size: 12px;">
                      <select class="yx-nwx btn btn--subtle" name="select-author" id="select-author">
                        <option value="0">All authors</option>
                        <option value="1">Author 1</option>
                        <option value="2">Author 2</option>
                      </select>
                      <svg class="icon yx-nwk" aria-hidden="true" viewBox="0 0 12 12">
                        <polyline points="1 4 6 9 11 4" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline>
                      </svg>
                    </div>
                    <div class="select" style="--select-icon-size: 12px;">
                      <select class="yx-nwx btn btn--subtle" name="select-category" id="select-category">
                        <option value="0">All categories</option>
                        <option value="1">Category 1</option>
                        <option value="2">Category 2</option>
                      </select>
                      <svg class="icon yx-nwk" aria-hidden="true" viewBox="0 0 12 12"> 
                        <polyline points="1 4 6 9 11 4" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline>
                      </svg>
                    </div>
                    <button class="btn btn--primary">Filter</button>
                  </div>
                </li>
                <li class="yx-tfc justify-content-end">
                  <form class="yx-nxc js-expandable-search" style="--expandable-search-icon-size: 1.25em; --expandable-search-size-expanded: 12em;">
                    <label class="sr-only" for="expandable-search" >Filter articles</label>
                    <input class="reset yx-nxh js-expandable-search__input" type="search" name="expandable-search" id="expandable-search" placeholder="Search articles"/>
                    <button class="reset yx-nxd">
                      <svg class="icon" viewBox="0 0 20 20">
                        <title>Search</title>
                        <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
                          <circle cx="8" cy="8" r="6"></circle>
                          <line x1="12.243" y1="12.243" x2="18" y2="18"></line>
                        </g>
                      </svg>
                    </button>
                  </form>
                </li>
              </ul>
            </div>
            <div id="table-id" class="js-int-table">
              <div class="yx-rte">
                  {% if articles %}
                <table class="yx-rtt" aria-label="Interactive table example">
                  <thead class="yx-rtn js-int-table__header">
                    <tr class="yx-rti">
                      <td class="int-table__cell">
                        <div class="yx-nwg yx-rth">
                          <input class="yx-nwy js-int-table__select-all" type="checkbox" aria-label="Select all rows">
                          <div class="yx-nwb" aria-hidden="true"></div>
                        </div>
                      </td>
                      <th class="int-table__cell yx-rto yx-rtu js-int-table__cell--sort">
                        <div class="flex items-center">
                          <span>Title</span>
                          <svg class="icon yx-ac yx-cp yx-rtf" aria-hidden="true" viewBox="0 0 12 12">
                            <polygon class="yx-rtl" points="6 0 10 5 2 5 6 0"></polygon>
                            <polygon class="yx-rtc" points="6 12 2 7 10 7 6 12"></polygon>
                          </svg>
                        </div>
                        <ul class="sr-only js-int-table__sort-list">
                          <li><input type="radio" name="sorting-title" id="sorting-title-none" value="none" checked="checked"><label for="sorting-title-none">No sorting</label></li>
                          <li><input type="radio" name="sorting-title" id="sorting-title-asc" value="asc"><label for="sorting-title-asc">Sort in ascending order</label></li>
                          <li><input type="radio" name="sorting-title" id="sorting-title-des" value="desc"><label for="sorting-title-des">Sort in descending order</label></li>
                        </ul>
                      </th>
                      <th class="int-table__cell yx-rto yx-pj">Author</th>
                      <th class="int-table__cell yx-rto yx-pj">Category</th>
                      <th class="int-table__cell yx-rto yx-pj">Status</th>
                      <th class="int-table__cell yx-rto yx-rtu js-int-table__cell--sort" data-date-format="dd-mm-yyyy">
                        <div class="flex items-center yx-fu">
                          <span>Date</span>
                          <svg class="icon yx-ac yx-cp yx-rtf" aria-hidden="true" viewBox="0 0 12 12">
                            <polygon class="yx-rtl" points="6 0 10 5 2 5 6 0"></polygon>
                            <polygon class="yx-rtc" points="6 12 2 7 10 7 6 12"></polygon>
                          </svg>
                        </div>
                        <ul class="sr-only js-int-table__sort-list">
                          <li><input type="radio" name="sorting-date" id="sorting-date-none" value="none" checked="checked"><label for="sorting-date-none">No sorting</label></li>
                          <li><input type="radio" name="sorting-date" id="sorting-date-asc" value="asc"><label for="sorting-date-asc">Sort in ascending order</label></li>
                          <li><input type="radio" name="sorting-date" id="sorting-date-des" value="desc"><label for="sorting-date-des">Sort in descending order</label></li>
                        </ul>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="yx-rtr js-int-table__body">
                    
                    {% for article in articles %}
                    <tr class="yx-rti">
                      <th class="int-table__cell" scope="row">
                        <div class="yx-nwg yx-rth">
                          <input class="yx-nwy js-int-table__select-row" type="checkbox" aria-label="Select this row">
                          <div class="yx-nwb" aria-hidden="true"></div>
                        </div>
                      </th>
                      <td class="int-table__cell max-width-xxxxs"><a href="{% url 'article' article_slug=article.slug %}">{{article.title}}</a></td>
                      <td class="int-table__cell"><a href="{% url 'author' author_slug=article.author.slug  %}">{{article.author}}</a></td>
                      <td class="int-table__cell"><a href="category.html">{{article.category}}</a></td>
                      {% if article.status == 'Published' %} <td class="int-table__cell"><span class="yx-fd yx-bg-d yx-bg-ti yx-xb yx-padding-nq yx-padding-nd yx-color-m text-xs text-black">{{article.status}}</span></td>{% else %}
                      <td class="int-table__cell"><span class="yx-fd yx-bg-b yx-bg-ti yx-xb yx-padding-nq yx-padding-nd yx-color-w text-xs text-black">{{article.status}}</span></td>{% endif %}
                      <td class="int-table__cell yx-pq">18/03/2022</td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
                <div class="flex items-center justify-between yx-padding-g">
                  <p>21 results</p>
                  <nav class="pagination" aria-label="Pagination">
                    <ul class="yx-n_d flex yx-a_ gap-xxxs">
                      <li>
                        <a href="#0" class="yx-n_m">
                          <svg class="icon" viewBox="0 0 16 16">
                            <title>Go to previous page</title>
                            <g stroke-width="2" stroke="currentColor">
                              <polyline fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="9.5,3.5 5,8 9.5,12.5 "></polyline>
                            </g>
                          </svg>
                        </a>
                      </li>
                      <li><span class="yx-n_w flex items-center"><input aria-label="Page number" class="form-control" type="text" id="pageNumber" name="pageNumber" value="1"><em>of 3</em></span></li>
                      <li>
                        <a href="#0" class="yx-n_m">
                          <svg class="icon" viewBox="0 0 16 16">
                            <title>Go to next page</title>
                            <g stroke-width="2" stroke="currentColor">
                              <polyline fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="6.5,3.5 11,8 6.5,12.5 "></polyline>
                            </g>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
                {% else %}
                    <tr class="yx-rti">
                      <strong> No Articles Published </strong>
                    </tr>
                    {% endif %}
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    {% endblock %}