{% extends 'base.html' %}
{% load static %}
{% block title %}{{article.title}}{% endblock %}
{% block content %}
    <div class="yx-tvj">
        {% include 'components/sidebar.html' %}
      <main class="yx-ya z-index-1 flex-grow yx-gh yx-t_d yx-t_g yx-tk_ yx-tqm yx-njv">
      {% include 'components/main-header.html' %}
      {% if messages %}
      {% for message in messages %}
          {% include 'components/popup.html'%}
      {% endfor %}
      {% endif %}
  <article class="ad5-padding-y-lg">
    <header class="ad5-container ad5-max-width-xs ad5-margin-bottom-lg">
      <div class="ad5-text-component ad5-text-center ad5-line-height-lg ad5-text-gap-md ad5-margin-bottom-md">
        <h1>{{article.title}}</h1>
      </div>
  
      <div class="ad5-flex ad5-justify-center">
        <div class="author author--meta">
            <div class="flex yx-a_ items-center gap-xs">
                <figure class="yx-nbc yx-xy yx-wd yx-fi"><img class="block yx-me yx-ge object-cover" src="{% static 'assets/img/author-img-1.jpg' %}" alt="Author Image"></figure>
              </div>
  
          <div class="author__content ad5-text-component ad5-text-gap-2xs">
            <h4 class="ad5-text-base"><a href="#0" rel="author">{{article.author}}</a></h4>
            <p class="ad5-text-sm ad5-color-contrast-medium"><time>{{article.created_at}}</time> &mdash; 5 min read</p>
          </div>
        </div>
      </div>
    </header>
  
    <figure class="d-flex justify-content-center ad5-max-width-lg ad5-margin-bottom-lg">
      <img class=" ad5-radius-lg" src="{{article.featured_image.url}}" alt="{{article.title}}" style="aspect-ratio: 1/1;">
    </figure>
  
    <div class="ad5-container ad5-max-width-adaptive-sm">
        <div class="ad5-text-component ad5-line-height-lg ad5-text-gap-md">
            <p>{{article.formatted_body}}</p>
        </div>
    </div>
  </article>
</main>
</div>
  {% endblock %}