{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="yx-tvj">
        {% include 'components/sidebar.html' %}
      <main class="yx-ya z-index-1 flex-grow yx-gh yx-t_d yx-t_g yx-tk_ yx-tqm yx-njv">
      {% include 'components/main-header.html' %}
      {% if messages %}
      {% for message in messages %}
          {% include 'components/popup.html'%}
      {% endfor %}
      {% endif %}
        <div class="yx-t yx-gm yx-padding-rr">
          <header class="yx-lw">
            <h1 class="text-lg">Edit Category</h1>
          </header>
          <ul class="grid gap-sm">
            <li><label class="form-label margin-bottom-xxs" for="category-name">Name</label> <input class="form-control yx-me" type="text" name="category-name" id="category-name" value="Category 1" required></li>
            <li>
              <label class="form-label margin-bottom-xxs" for="category-slug">Slug</label> <input class="form-control yx-me" type="text" name="category-slug" id="category-slug" value="category-1" required>
              <p class="text-xs color-contrast-medium yx-la">URL-friendly version of the name</p>
            </li>
            <li>
              <label class="form-label margin-bottom-xxs" for="select-this">Parent category</label>
              <div class="select" style="--select-icon-right-margin: var(--space-xs); --select-icon-size: 12px;">
                <select class="yx-nwx btn btn--subtle" name="select-this" id="select-this">
                  <option value="0">None</option>
                  <option value="1">Category 1</option>
                  <option value="2">Category 2</option>
                  <option value="3">Category 3</option>
                </select>
                <svg class="icon yx-nwk" aria-hidden="true" viewBox="0 0 12 12">
                  <polyline points="1 4 6 9 11 4" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline>
                </svg>
              </div>
            </li>
            <li><label class="form-label margin-bottom-xxs" for="categorydescription">Description</label> <textarea class="form-control yx-me" name="categorydescription" id="categorydescription" rows="4">Lorem ipsum dolor sit amet consectetur</textarea></li>
            <li class="yx-pq"><a class="text-sm color-accent yx-cr" href="#0" aria-controls="dialog-delete-confirmation">Delete</a> <button class="btn btn--primary yx-padding-nm">Save</button></li>
          </ul>
        </div>
      </main>
    </div>
    <div id="dialog-delete-confirmation" class="dialog js-dialog" data-animation="on">
      <div class="yx-nxa yx-gd" role="alertdialog">
        <div class="text-component yx-db">
          <h4>Are you sure you want to delete this category?</h4>
          <p class="color-contrast-medium">This action cannot be undone.</p>
        </div>
        <footer class="yx-ll">
          <div class="flex yx-fu gap-xs yx-a_"><button class="btn btn--subtle js-dialog__close">Cancel</button> <button class="btn btn--accent">Delete</button></div>
        </footer>
      </div>
    </div>
    {% endblock %}