{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="yx-tvj">
        {% include 'components/sidebar.html' %}
      <main class="yx-ya z-index-1 flex-grow yx-gh yx-t_d yx-t_g yx-tk_ yx-tqm yx-njv">
      {% include 'components/main-header.html' %}
      {% if messages %}
      {% for message in messages %}
          {% include 'components/popup.html'%}
      {% endfor %}
      {% endif %}
        <div class="yx-t yx-gy yx-padding-rr">
          <ul class="grid gap-lg">
            <!-- popup -->
            <li>
              <header class="yx-lb">
                <div class="d-flex justify-content-between gap-xxs yx-tos yx-tom yx-tow">
                  <h2 class="text-lg">Articles</h2>
                  <p>
                    <a href="{% url 'new_article'%}">+ New</a>
                    <span class="yx-color-u">|</span>
                    <a href="{% url 'articles'%}">All articles →</a>
                  </p>
                </div>
              </header>
              {% if articles %}
              <div class="yx-nyk yx-padding-nm yx-padding-ti yx-padding-g">
                <div class="yx-padding-re yx-border-n" data-table-controls="table-id">
                  <ul class="d-flex justify-content-between gap-xxs yx-tos yx-tog">
                    <li class="yx-tfc justify-content-end">
                      <form class="yx-nxc js-expandable-search" style="--expandable-search-icon-size: 1.25em; --expandable-search-size-expanded: 12em;">
                        <label class="sr-only" for="expandable-search" >Filter articles</label>
                        <input class="reset yx-nxh js-expandable-search__input" type="search" name="expandable-search" id="expandable-search" placeholder="Search articles"/>
                        <button class="reset yx-nxd">
                          <svg class="icon" viewBox="0 0 20 20">
                            <title>Search</title>
                            <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
                              <circle cx="8" cy="8" r="6"></circle>
                              <line x1="12.243" y1="12.243" x2="18" y2="18"></line>
                            </g>
                          </svg>
                        </button>
                      </form>
                    </li>
                  </ul>
                </div>
                {% include 'articles/table.html' %}
              </div>
              {%endif%}
            </li>
          </ul>
        </div>
      </main>
    </div>
{% endblock %}