{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="yx-tvj">
        {% include 'components/sidebar.html' %}
      <main class="yx-ya z-index-1 flex-grow yx-gh yx-t_d yx-t_g yx-tk_ yx-tqm yx-njv">
      {% include 'components/main-header.html' %}
      {% if messages %}
      {% for message in messages %}
          {% include 'components/popup.html'%}
      {% endfor %}
      {% endif %}
        <div class="yx-t yx-gm yx-padding-rr">
          <header class="yx-lw">
            <h1 class="text-lg">New Asset</h1>
          </header>
          <ul class="grid gap-sm">
            <li>
              <div class="ddf js-ddf--asset">
                <div class="yx-nqq yx-padding-ri yx-padding-nm js-ddf__area">
                  <input class="ddf__input sr-only js-ddf__input" type="file" id="upload-file" multiple name="file[]"> 
                  <label class="yx-nqz js-ddf__label" for="upload-file">
                    <i class="yx-nzn flex flex-column items-center">
                      <svg class="icon yx-av color-contrast-higher yx-nze" viewBox="0 0 64 64" aria-hidden="true">
                        <path fill="currentColor" d="M51,27c-.374,0-.742.025-1.109.056a18,18,0,0,0-35.782,0C13.742,27.025,13.374,27,13,27a13,13,0,0,0,0,26H51a13,13,0,0,0,0-26Z"></path>
                        <path d="M43.764,41.354l-11-13a1.033,1.033,0,0,0-1.526,0l-11,13A1,1,0,0,0,21,43h7V59h8V43h7a1,1,0,0,0,.764-1.646Z"></path>
                      </svg>
                      <span class="yx-pb color-contrast-higher yx-aw">Drag and drop your files here</span> <span class="yx-fd yx-padding-d color-contrast-medium text-sm">or click to browse your files</span>
                    </i>
                  </label>
                </div>
                <ul class="ddf__list is-hidden yx-lf js-ddf__list">
                  <li class="yx-nzu js-ddf__item">
                    <svg class="icon icon--xs margin-right-xxs" viewBox="0 0 16 16" aria-hidden="true">
                      <g>
                        <path d="M15,15V5l-5-5H2C1.4,0,1,0.4,1,1v14c0,0.6,0.4,1,1,1h12C14.6,16,15,15.6,15,15z M3,2h6v4h4v8H3V2z"></path>
                      </g>
                    </svg>
                    <span class="yx-nza yx-pe js-ddf__file-name"></span> 
                    <button class="reset yx-nzf js-ddf__remove-btn">
                      <svg class="icon yx-ac" viewBox="0 0 12 12">
                        <title>Remove File</title>
                        <g stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <line x1="1.5" y1="1.5" x2="10.5" y2="10.5"></line>
                          <line x1="10.5" y1="1.5" x2="1.5" y2="10.5"></line>
                        </g>
                      </svg>
                    </button>
                  </li>
                </ul>
              </div>
            </li>
            <li><label class="form-label margin-bottom-xxs" for="asset-description">Description</label> <textarea class="form-control yx-me" name="asset-description" id="asset-description" rows="3"></textarea></li>
            <li class="yx-pq"><button class="btn btn--primary yx-padding-nm">Upload</button></li>
          </ul>
        </div>
      </main>
    </div>
    {% endblock %}