{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="yx-tvj">
        {% include 'components/sidebar.html' %}
      <main class="yx-ya z-index-1 flex-grow yx-gh yx-t_d yx-t_g yx-tk_ yx-tqm yx-njv">
      {% include 'components/main-header.html' %}
      {% if messages %}
      {% for message in messages %}
          {% include 'components/popup.html'%}
      {% endfor %}
      {% endif %}
        <div class="yx-t yx-gm yx-padding-rr">
          <header class="yx-lw">
            <h1 class="text-lg">New User</h1>
          </header>
          <ul class="grid gap-sm">
            <li>
              <div class="flex yx-a_ items-center gap-xs">
                <figure class="yx-nbc yx-xy yx-wd yx-fi">
                  <svg class="block yx-me object-cover" viewBox="0 0 60 60">
                    <circle cx="30" cy="30" r="30" fill="var(--color-contrast-low)"></circle>
                    <circle cx="30" cy="19" r="8" fill="var(--color-bg)"></circle>
                    <path d="M30,30A16,16,0,0,0,14.163,43.71,2.007,2.007,0,0,0,16.148,46h27.7a2.007,2.007,0,0,0,1.985-2.29A16,16,0,0,0,30,30Z" fill="var(--color-bg)"></path>
                  </svg>
                </figure>
                <div class="file-upload yx-fd"><label for="upload1" class="yx-nxv btn btn--subtle text-sm yx-padding-nq yx-padding-np"><span class="file-upload__text yx-nxg">Upload picture</span></label> <input type="file" class="yx-nxm" name="upload1" id="upload1"></div>
              </div>
            </li>
            <li><label class="form-label margin-bottom-xxs" for="user-name">Full Name</label> <input class="form-control yx-me" type="text" name="user-name" id="user-name" required></li>
            <li>
              <label class="form-label margin-bottom-xxs" for="user-slug">Slug</label> <input class="form-control yx-me" type="text" name="user-slug" id="user-slug" required>
              <p class="text-xs color-contrast-medium yx-la">URL-friendly version of the name</p>
            </li>
            <li><label class="form-label margin-bottom-xxs" for="user-email">Email</label> <input class="form-control yx-me" type="text" name="user-email" id="user-email" required></li>
            <li>
              <label class="form-label margin-bottom-xxs" for="select-this">Role</label>
              <div class="select" style="--select-icon-right-margin: var(--space-xs); --select-icon-size: 12px;">
                <select class="yx-nwx btn btn--subtle" name="select-this" id="select-this">
                  <option value="1">Admin</option>
                  <option value="2">Author</option>
                </select>
                <svg class="icon yx-nwk" aria-hidden="true" viewBox="0 0 12 12">
                  <polyline points="1 4 6 9 11 4" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline>
                </svg>
              </div>
            </li>
            <li><label class="form-label margin-bottom-xxs" for="user-bio">Bio</label> <textarea class="form-control yx-me" name="user-bio" id="user-bio" rows="4"></textarea></li>
            <li><label class="form-label margin-bottom-xxs" for="user-password">Password</label> <input class="form-control yx-me" type="text" name="user-password" id="user-password" required></li>
            <li class="yx-pq"><button class="btn btn--primary yx-padding-nm">Create user</button></li>
          </ul>
        </div>
      </main>
    </div>
    {% endblock %}