{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="yx-tvj">
        {% include 'components/sidebar.html' %}
      <main class="yx-ya z-index-1 flex-grow yx-gh yx-t_d yx-t_g yx-tk_ yx-tqm yx-njv">
      {% include 'components/main-header.html' %}
      {% if messages %}
      {% for message in messages %}
          {% include 'components/popup.html'%}
      {% endfor %}
      {% endif %}
        <div class="yx-t yx-gy yx-padding-rr">
          <ul class="grid gap-sm">
            <li>
              <header class="yx-lb">
                <div class="flex flex-column gap-xxs yx-tos yx-tom yx-tow">
                  <h2 class="text-lg">Earnings</h2>
                  <div>
                    <div class="flex yx-a_ flex-column yx-_u gap-xxs">
                      <div class="date-range-select yx-fi js-date-range-select">
                        <label class="sr-only" for="select-date-range">Select a date range:</label>
                        <div class="select text-sm" style="--select-icon-right-margin: var(--space-xxs); --select-icon-size: 12px;">
                          <select class="yx-nwx btn btn--subtle" name="select-date-range" id="select-date-range">
                            <option value="0">Last Week</option>
                            <option value="1">Last Month</option>
                            <option value="custom">Custom Range</option>
                          </select>
                          <svg class="icon yx-nwk" aria-hidden="true" viewBox="0 0 12 12">
                            <polyline points="1 4 6 9 11 4" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline>
                          </svg>
                        </div>
                      </div>
                      <div class="date-range is-hidden yx-fi js-date-range">
                        <div class="date-range__input js-date-range__input"><input type="text" class="js-date-range__text js-date-range__text--start" aria-label="Select start date, format is dd/mm/yyyy"></div>
                        <div class="date-range__input js-date-range__input"><input type="text" class="js-date-range__text js-date-range__text--end" aria-label="Select end date, format is dd/mm/yyyy"></div>
                        <button class="btn btn--subtle text-sm yx-ge yx-me js-date-range__trigger js-tab-focus" aria-label="Select start and end dates using the calendar widget"><span class="js-date-range__trigger-label" aria-hidden="true"><span>Select dates</span> <span class="is-hidden"><i class="js-date-range__value js-date-range__value--start">Start date</i> - <i class="js-date-range__value js-date-range__value--end">End date</i></span></span></button>
                        <div class="date-picker js-date-picker" role="dialog" aria-labelledby="calendar-label-1">
                          <header class="date-picker__header">
                            <div class="yx-nxe">
                              <span class="yx-nxt js-date-picker__month-label" id="calendar-label-1"></span>
                              <nav>
                                <ul class="yx-nxn js-date-picker__month-nav">
                                  <li>
                                    <button class="reset yx-nxs js-date-picker__month-nav-btn js-date-picker__month-nav-btn--prev js-tab-focus">
                                      <svg class="icon icon--xs" viewBox="0 0 16 16">
                                        <title>Previous month</title>
                                        <polyline points="10 2 4 8 10 14" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline>
                                      </svg>
                                    </button>
                                  </li>
                                  <li>
                                    <button class="reset yx-nxs js-date-picker__month-nav-btn js-date-picker__month-nav-btn--next js-tab-focus">
                                      <svg class="icon icon--xs" viewBox="0 0 16 16">
                                        <title>Next month</title>
                                        <polyline points="6 2 12 8 6 14" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline>
                                      </svg>
                                    </button>
                                  </li>
                                </ul>
                              </nav>
                            </div>
                            <ol class="yx-nxr">
                              <li>
                                <div class="yx-nxo">M<span class="sr-only">onday</span></div>
                              </li>
                              <li>
                                <div class="yx-nxo">T<span class="sr-only">uesday</span></div>
                              </li>
                              <li>
                                <div class="yx-nxo">W<span class="sr-only">ednesday</span></div>
                              </li>
                              <li>
                                <div class="yx-nxo">T<span class="sr-only">hursday</span></div>
                              </li>
                              <li>
                                <div class="yx-nxo">F<span class="sr-only">riday</span></div>
                              </li>
                              <li>
                                <div class="yx-nxo">S<span class="sr-only">aturday</span></div>
                              </li>
                              <li>
                                <div class="yx-nxo">S<span class="sr-only">unday</span></div>
                              </li>
                            </ol>
                          </header>
                          <ol class="yx-nxi js-date-picker__dates" aria-labelledby="calendar-label-1"></ol>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </header>
              <div class="yx-nyk yx-padding-s">
                <p class="yx-lb">Today: <span class="color-primary">$129</span></p>
                <div class="chart chart--area" id="area-chart-1">
                  <div class="chart__area js-chart__area"></div>
                </div>
              </div>
            </li>
            <li class="yx-nyk yx-rtz yx-padding-s yx-ri yx-ui">
              <div class="flex yx-a_ gap-xxs items-center">
                <div>
                  <p class="color-contrast-medium">Subscribers</p>
                </div>
                <div class="flex items-center"><span class="yx-fd yx-bg-d yx-bg-ti text-xs yx-padding-np yx-padding-nj yx-xb">+33.2%</span></div>
              </div>
              <p class="text-xxl yx-pg color-contrast-higher">5,097</p>
              <div class="chart chart--area" id="stats-card-chart-1">
                <div class="chart__area js-chart__area"></div>
              </div>
            </li>
            <li class="yx-nyk yx-rtz yx-padding-s yx-ri yx-ui">
              <div class="flex yx-a_ gap-xxs items-center">
                <div>
                  <p class="color-contrast-medium">Followers</p>
                </div>
                <div class="flex items-center"><span class="yx-fd yx-bg-j yx-bg-ti text-xs yx-padding-np yx-padding-nj yx-xb">-0.2%</span></div>
              </div>
              <p class="text-xxl yx-pg color-contrast-higher">4,134</p>
              <div class="chart chart--area" id="stats-card-chart-2">
                <div class="chart__area js-chart__area"></div>
              </div>
            </li>
            <li class="yx-nyk yx-rtz yx-padding-s yx-ri yx-ui">
              <div class="flex yx-a_ gap-xxs items-center">
                <div>
                  <p class="color-contrast-medium">Engagement</p>
                </div>
                <div class="flex items-center"><span class="yx-fd yx-bg-b yx-bg-ti text-xs yx-padding-np yx-padding-nj yx-xb">+1.7%</span></div>
              </div>
              <p class="text-xxl yx-pg color-contrast-higher">5,097</p>
              <div class="chart chart--area" id="stats-card-chart-3">
                <div class="chart__area js-chart__area"></div>
              </div>
            </li>
            <li class="yx-nyk yx-rtz yx-padding-s yx-ri yx-ui">
              <div class="flex yx-a_ gap-xxs items-center">
                <div>
                  <p class="color-contrast-medium">Watch Time</p>
                </div>
                <div class="flex items-center"><span class="yx-fd yx-bg-d yx-bg-ti text-xs yx-padding-np yx-padding-nj yx-xb">+7.5%</span></div>
              </div>
              <p class="text-xxl yx-pg color-contrast-higher">27min</p>
              <div class="chart chart--area" id="stats-card-chart-4">
                <div class="chart__area js-chart__area"></div>
              </div>
            </li>
            <li class="yx-nyk yx-rtz yx-padding-s">
              <p class="color-contrast-medium yx-lw">Percentage Bar</p>
              <div class="pct-bar flex-grow flex flex-column js-pct-bar">
                <div class="yx-n_q js-pct-bar__bg yx-lw" aria-hidden="true"></div>
                <ul class="grid gap-xs">
                  <li class="flex items-center"><span class="yx-n_z bg-primary margin-right-xxs" aria-hidden="true"></span> <span class="text-sm">Label 1 (<i class="js-pct-bar__value" data-pct-bar-bg="bg-primary">43%</i>)</span></li>
                  <li class="flex items-center"><span class="yx-n_z bg-contrast-lower margin-right-xxs" aria-hidden="true"></span> <span class="text-sm">Label 2 (<i class="js-pct-bar__value" data-pct-bar-bg="bg-contrast-lower">28%</i>)</span></li>
                  <li class="flex items-center"><span class="yx-n_z bg-contrast-higher margin-right-xxs" aria-hidden="true"></span> <span class="text-sm">Label 3 (<i class="js-pct-bar__value" data-pct-bar-bg="bg-contrast-higher">17%</i>)</span></li>
                  <li class="flex items-center"><span class="yx-n_z bg-accent margin-right-xxs" aria-hidden="true"></span> <span class="text-sm">Label 4 (<i class="js-pct-bar__value" data-pct-bar-bg="bg-accent">12%</i>)</span></li>
                </ul>
              </div>
            </li>
            <li class="yx-nyk yx-rtz yx-padding-s col-12 yx-re">
              <p class="color-contrast-medium yx-lw">Pie Chart</p>
              <div class="pie-chart flex flex-column gap-md js-pie-chart">
                <div class="flex yx-ft">
                  <div class="yx-nje block yx-fi js-pie-chart__area">
                    <div class="yx-njr is-hidden js-pie-chart__tooltip"></div>
                  </div>
                </div>
                <div>
                  <ul class="grid gap-xs">
                    <li class="flex items-center"><span class="yx-njn bg-primary margin-right-xxs" aria-hidden="true"></span> <span class="text-sm">Label 1 (<i class="js-pie-chart__value" data-pie-chart-style="fill: var(--color-primary);">43%</i>)</span></li>
                    <li class="flex items-center"><span class="yx-njn bg-contrast-lower margin-right-xxs" aria-hidden="true"></span> <span class="text-sm">Label 2 (<i class="js-pie-chart__value" data-pie-chart-style="fill: var(--color-contrast-lower);">28%</i>)</span></li>
                    <li class="flex items-center"><span class="yx-njn bg-contrast-higher margin-right-xxs" aria-hidden="true"></span> <span class="text-sm">Label 3 (<i class="js-pie-chart__value" data-pie-chart-style="fill: var(--color-contrast-higher);">17%</i>)</span></li>
                    <li class="flex items-center"><span class="yx-njn bg-accent margin-right-xxs" aria-hidden="true"></span> <span class="text-sm">Label 4 (<i class="js-pie-chart__value" data-pie-chart-style="fill: var(--color-accent);">12%</i>)</span></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="yx-nyk yx-rtz yx-padding-s col-12 yx-re">
              <p class="color-contrast-medium yx-lw">Donut Chart</p>
              <div class="pie-chart flex flex-column gap-md js-pie-chart" data-pie-chart-type="donut">
                <div class="flex yx-ft">
                  <div class="yx-nje block yx-fi js-pie-chart__area">
                    <div class="yx-njr is-hidden js-pie-chart__tooltip"></div>
                  </div>
                </div>
                <div>
                  <ul class="grid gap-xs">
                    <li class="flex items-center"><span class="yx-njn bg-primary margin-right-xxs" aria-hidden="true"></span> <span class="text-sm">Label 1 (<i class="js-pie-chart__value" data-pie-chart-style="fill: var(--color-primary);">43%</i>)</span></li>
                    <li class="flex items-center"><span class="yx-njn bg-contrast-lower margin-right-xxs" aria-hidden="true"></span> <span class="text-sm">Label 2 (<i class="js-pie-chart__value" data-pie-chart-style="fill: var(--color-contrast-lower);">28%</i>)</span></li>
                    <li class="flex items-center"><span class="yx-njn bg-contrast-higher margin-right-xxs" aria-hidden="true"></span> <span class="text-sm">Label 3 (<i class="js-pie-chart__value" data-pie-chart-style="fill: var(--color-contrast-higher);">17%</i>)</span></li>
                    <li class="flex items-center"><span class="yx-njn bg-accent margin-right-xxs" aria-hidden="true"></span> <span class="text-sm">Label 4 (<i class="js-pie-chart__value" data-pie-chart-style="fill: var(--color-accent);">12%</i>)</span></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="yx-nyk yx-rtz yx-padding-s col-12 yx-re">
              <p class="color-contrast-medium yx-lw">Radial Chart</p>
              <div class="radial-bar flex flex-column gap-md js-radial-bar">
                <div class="yx-fi flex yx-fa">
                  <div class="yx-nji js-radial-bar__area" aria-hidden="true">
                    <div class="yx-njs is-hidden js-radial-bar__tooltip"></div>
                  </div>
                </div>
                <div>
                  <ul class="grid gap-xs">
                    <li class="flex items-center"><span class="yx-njo bg-primary margin-right-xxs" aria-hidden="true"></span> <span class="text-sm">Label 1 (<i class="js-radial-bar__value" data-radial-bar-color="color-primary">75%</i>)</span></li>
                    <li class="flex items-center"><span class="yx-njo bg-contrast-higher margin-right-xxs" aria-hidden="true"></span> <span class="text-sm">Label 2 (<i class="js-radial-bar__value" data-radial-bar-color="color-contrast-higher">54%</i>)</span></li>
                    <li class="flex items-center"><span class="yx-njo yx-bg-d margin-right-xxs" aria-hidden="true"></span> <span class="text-sm">Label 3 (<i class="js-radial-bar__value" data-radial-bar-color="color-success">41%</i>)</span></li>
                    <li class="flex items-center"><span class="yx-njo bg-accent margin-right-xxs" aria-hidden="true"></span> <span class="text-sm">Label 4 (<i class="js-radial-bar__value" data-radial-bar-color="color-accent">18%</i>)</span></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </main>
    </div>
    {% endblock %}