<form class="yx-nxc js-expandable-search" style="--expandable-search-icon-size: 1.25em; --expandable-search-size-expanded: 12em;" action="{% url 'search' %}" method="get">
    <label class="sr-only" for="expandable-search" >Filter articles</label>
    <input class="reset yx-nxh js-expandable-search__input" type="search" name="q" id="q" placeholder="Search articles"/>
    <button class="reset yx-nxd">
      <svg class="icon" viewBox="0 0 20 20">
        <title>Search</title>
        <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
          <circle cx="8" cy="8" r="6"></circle>
          <line x1="12.243" y1="12.243" x2="18" y2="18"></line>
        </g>
      </svg>
    </button>
  </form>