{% extends 'base.html' %}
{% load static %}
{% block title %}Author {{author.member.name}}{% endblock %}
{% block content %}
    <div class="yx-tvj">
        {% include 'components/sidebar.html' %}
      <main class="yx-ya z-index-1 flex-grow yx-gh yx-t_d yx-t_g yx-tk_ yx-tqm yx-njv">
      {% include 'components/main-header.html' %}
      {% if messages %}
      {% for message in messages %}
          {% include 'components/popup.html'%}
      {% endfor %}
      {% endif %}
        <div class="yx-t yx-gm yx-padding-rr">
          <header class="yx-lw">
            <h1 class="text-lg">Author's Profile</h1>
          </header>
          <ul class="grid gap-sm">
            <li>
              <div class="flex yx-a_ items-center gap-xs">
                <figure class="yx-nbc yx-xy yx-wd yx-fi">
                  {% if member.has_image %}
                  <img class="block yx-me yx-ge object-cover" src="{{author.member.image.url}}" alt="{{member.name}}">
                  {% else %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                  </svg>
                  {% endif %}
                </figure>
              </div>
            </li>
            <li><label class="form-label margin-bottom-xxs fw-bold text-underline yx-padding-tv" for="user-name">Name:</label>&nbsp;{% if author %}{{author.member.name}}{%endif%}</li>
            <li><label class="form-label margin-bottom-xxs fw-bold text-underline" for="user-bio">Bio:</label><br>&nbsp;{% if author %}{{author.bio|safe}}{%endif%}</li>
            <li>
                <label class="form-label margin-bottom-xxs fw-bold text-underline" for="user-bio">Articles</label>
                <div id="table-id" class="int-table js-int-table">
                    <div class="yx-rte">
                        {% if author %}
                        {% if author.get_articles %}
                      <table class="yx-rtt" aria-label="Interactive table example">
                        <thead class="yx-rtn js-int-table__header">
                          <tr class="yx-rti">
                            <th class="int-table__cell yx-rto yx-rtu js-int-table__cell--sort">
                              <div class="flex items-center">
                                <span>Title</span>
                                <svg class="icon yx-ac yx-cp yx-rtf" aria-hidden="true" viewBox="0 0 12 12">
                                  <polygon class="yx-rtl" points="6 0 10 5 2 5 6 0"></polygon>
                                  <polygon class="yx-rtc" points="6 12 2 7 10 7 6 12"></polygon>
                                </svg>
                              </div>
                              <ul class="sr-only js-int-table__sort-list">
                                <li><input type="radio" name="sorting-title" id="sorting-title-none" value="none" checked="checked"><label for="sorting-title-none">No sorting</label></li>
                                <li><input type="radio" name="sorting-title" id="sorting-title-asc" value="asc"><label for="sorting-title-asc">Sort in ascending order</label></li>
                                <li><input type="radio" name="sorting-title" id="sorting-title-des" value="desc"><label for="sorting-title-des">Sort in descending order</label></li>
                              </ul>
                            </th>
                            <th class="int-table__cell yx-rto yx-pj">Category</th>

                            <th class="int-table__cell yx-rto yx-rtu js-int-table__cell--sort" data-date-format="dd-mm-yyyy">
                              <div class="flex items-center yx-fu">
                                <span>Date</span>
                                <svg class="icon yx-ac yx-cp yx-rtf" aria-hidden="true" viewBox="0 0 12 12">
                                  <polygon class="yx-rtl" points="6 0 10 5 2 5 6 0"></polygon>
                                  <polygon class="yx-rtc" points="6 12 2 7 10 7 6 12"></polygon>
                                </svg>
                              </div>
                              <ul class="sr-only js-int-table__sort-list">
                                <li><input type="radio" name="sorting-date" id="sorting-date-none" value="none" checked="checked"><label for="sorting-date-none">No sorting</label></li>
                                <li><input type="radio" name="sorting-date" id="sorting-date-asc" value="asc"><label for="sorting-date-asc">Sort in ascending order</label></li>
                                <li><input type="radio" name="sorting-date" id="sorting-date-des" value="desc"><label for="sorting-date-des">Sort in descending order</label></li>
                              </ul>
                            </th>
                          </tr>
                        </thead>
                        <tbody class="yx-rtr js-int-table__body">
                          
                          {% for article in page_obj %}
                          <tr class="yx-rti">
                            <td class="int-table__cell max-width-xxxxs"><a href="{% url 'article' article_slug=article.slug %}">{{article.title}}</a></td>
                            <td class="int-table__cell"><a href="{{article.category.get_absolute_url}}">{{article.category}}</a></td>
                            <td class="int-table__cell yx-pq">{{article.created_at}}</td>
                          </tr>
                          {% endfor %}
                          
                        </tbody>
                      </table>
                      <div class="flex items-center justify-between yx-padding-g">
                        <p>{{author.get_articles_count}} results</p>
                        {% include 'components/pagination.html' %}
                      </div>
                      {%endif%}
                      {% else %}
                          <tr class="yx-rti">
                            <strong> No Articles Published </strong>
                          </tr>
                          {% endif %}
                    </div>
                  </div>                  
            </li>
          </ul>
        </div>
      </main>
    </div>
    {% endblock %}