{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="yx-tvj">
        {% include 'components/sidebar.html' %}
      <main class="yx-ya z-index-1 flex-grow yx-gh yx-t_d yx-t_g yx-tk_ yx-tqm yx-njv">
      {% include 'components/main-header.html' %}
      {% if messages %}
      {% for message in messages %}
          {% include 'components/popup.html'%}
      {% endfor %}
      {% endif %}
        <div class="yx-t yx-gm yx-padding-rr">
          <header class="yx-lw">
            <h1 class="text-lg">Edit Profile</h1>
          </header>
          <ul class="grid gap-sm">
            <li>
              <div class="flex yx-a_ items-center gap-xs">
                <figure class="yx-nbc yx-xy yx-wd yx-fi"><img class="block yx-me yx-ge object-cover" src="assets/img/author-img-1.jpg" alt="User picture"></figure>
                <div class="file-upload yx-fd"><label for="upload1" class="yx-nxv btn btn--subtle text-sm yx-padding-nq yx-padding-np"><span class="file-upload__text yx-nxg">Upload new picture</span></label> <input type="file" class="yx-nxm" name="upload1" id="upload1"></div>
                <button class="reset link text-sm color-accent cursor-pointer">Delete</button>
              </div>
            </li>
            <li><label class="form-label margin-bottom-xxs" for="user-name">Full Name</label> <input class="form-control yx-me" type="text" name="user-name" id="user-name" value="Emily Ewing" required></li>
            <li>
              <label class="form-label margin-bottom-xxs" for="user-slug">Slug</label> <input class="form-control yx-me" type="text" name="user-slug" id="user-slug" value="emily-ew" required>
              <p class="text-xs color-contrast-medium yx-la">URL-friendly version of the name</p>
            </li>
            <li><label class="form-label margin-bottom-xxs" for="user-email">Email</label> <input class="form-control yx-me" type="text" name="user-email" id="user-email" value="emily@email.com" required></li>
            <li><label class="form-label margin-bottom-xxs" for="user-bio">Bio</label> <textarea class="form-control yx-me" name="user-bio" id="user-bio" rows="4"></textarea></li>
            <li>
              <p class="form-label margin-bottom-xs">Notification options</p>
              <ul class="choice-tags flex yx-a_ gap-xxs js-choice-tags">
                <li>
                  <label class="yx-nbv yx-nbb text-sm js-choice-tag" for="checkbox-tag-phone-call">
                    <input class="sr-only" type="checkbox" id="checkbox-tag-phone-call" checked> 
                    <svg class="yx-nbg icon margin-right-xxs" viewBox="0 0 16 16" aria-hidden="true">
                      <g class="yx-nby" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2">
                        <line x1="-6" y1="8" x2="8" y2="8"></line>
                        <line x1="8" y1="8" x2="22" y2="8"></line>
                        <line x1="8" y1="2" x2="8" y2="14"></line>
                      </g>
                    </svg>
                    <span>Phone Call</span>
                  </label>
                </li>
                <li>
                  <label class="yx-nbv yx-nbb text-sm js-choice-tag" for="checkbox-tag-message">
                    <input class="sr-only" type="checkbox" id="checkbox-tag-message"> 
                    <svg class="yx-nbg icon margin-right-xxs" viewBox="0 0 16 16" aria-hidden="true">
                      <g class="yx-nby" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2">
                        <line x1="-6" y1="8" x2="8" y2="8"></line>
                        <line x1="8" y1="8" x2="22" y2="8"></line>
                        <line x1="8" y1="2" x2="8" y2="14"></line>
                      </g>
                    </svg>
                    <span>Phone Message</span>
                  </label>
                </li>
                <li>
                  <label class="yx-nbv yx-nbb text-sm js-choice-tag" for="checkbox-tag-email">
                    <input class="sr-only" type="checkbox" id="checkbox-tag-email"> 
                    <svg class="yx-nbg icon margin-right-xxs" viewBox="0 0 16 16" aria-hidden="true">
                      <g class="yx-nby" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2">
                        <line x1="-6" y1="8" x2="8" y2="8"></line>
                        <line x1="8" y1="8" x2="22" y2="8"></line>
                        <line x1="8" y1="2" x2="8" y2="14"></line>
                      </g>
                    </svg>
                    <span>Email</span>
                  </label>
                </li>
              </ul>
            </li>
            <li class="yx-border-t margin-y-xs" role="presentation"></li>
            <li class="yx-pq"><button class="btn btn--primary yx-padding-nm">Save</button></li>
          </ul>
        </div>
      </main>
    </div>
    {% endblock %}